#cloud {
  position:absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(192,192,192,0.5);
  top:0;
}

#displayPizza {
  text-align: center;
  position:absolute;
  top: 10%;
  left: 30%;
  width: 40vw;
  height: 40vw;
  border: solid;
  background-color: white;
  font-size: 2em;
  font-family: monospace;
  padding: 20px;

}

h1, h2 {
  background-color: rgba(205, 176, 0, 0.5);
  width: 70vw;
  margin: auto;
}

body{
  text-align:center;
  background-image: url('https://img.buzzfeed.com/buzzfeed-static/static/2014-06/19/19/enhanced/webdr02/anigif_enhanced-7510-1403220931-1.gif');
  background-size: cover;
}

p {
  margin-top: 100px;
}


.formWrapper {
  text-align: center;
  background-color: rgba(169,169,169,0.5);
  margin:auto;
  width:70vw;
}

.toppingImg {
  width: 50px;
  height: 50px;

}

img {
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 100%;
}

.toppingField {
  border:solid;
}

input[type="text"] {
  width: 70%;
  height: 25px;
  display: block;
  margin: auto;
  margin-top: 50px;
  border-radius: 50px;
  /*border-bottom: solid;*/
  padding: 0 5px 0 5px;
}

input[type="text"]:focus {
  outline: none;
}

input[type="radio"] {
  visibility: hidden;
  display: block;
}



input[type="radio"]:checked + img {

  border-radius: 100%;
  box-shadow: 2px 2px 20px red;
}



.toppingRadio {
  display:inline-block;
  border:solid;
}

.toppingsContainer, .sizeContainer {
  /*border:solid;*/
  display: inline-block;
  text-align: center;
}

.inches {
 float: left;
 clear: both;
}

.toppingsContainer {
  position:relative;
  top: -350px;
}
@media screen and (max-width:860px) {
  .toppingsContainer {
    position: static;
    display: block;
  }
  button {
    border: solid;
    border-radius: 30px;
    width: 12vw;
    height: 5vw;
    position s;
    bottom: 0px;
  }
}

button {
  border: solid;
  border-radius: 30px;
  width: 12vw;
  height: 5vw;
  position: static;
  display: block;
  margin:auto;
  margin-top: 50px;
}

button:focus {
  outline: none;
}
